<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="app-container">
      <div id="app-column">
        {{{body}}}
      </div>     
    </div>
  </body>
</html>
