body {
  font: 32px "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}

a {
  color: #00B7FF;
}

#app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: white;
}

  #app-column {
    width: 50%;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 10px;
    margin: auto;
    
    background-color: #D9DDE0;
    border-radius: 20px;
  }
  
    #app-header {
      width: 100%;
     
      font-size: 120px; 
      text-align: center;
      
      padding-top: 20px;
      padding-bottom: 20px;   
      background-color: #6441a5;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    
  .channelList {
    padding: 20px;
  }